@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
header{
    height: 20px;
    background-color:black;
}
.container{
    display: flex;
}
#left{
    width: 35% ;
    float:left;
} 
#right{
    width: 65%;
    float: left;
} 
h1{
    margin:0;
    font-size: 80px;
    color: gray;
}
.name{
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-size: 60px;
    color: seagreen ;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px; 
    font-weight: 100;
    margin: 20px 0 0 0; 
    text-align: center;
}
.profile-summary{
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    text-align:center;
    color:blueviolet;
}
.main{
    margin: 50px 0;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
#img{
    padding: 5px;
    margin: 5px;
    background-color: #fff;
}
.li-item li {
    display: inline-block;
    width: 10%;
    margin-right:30px;
}
.li-item li img {
    width: 100%;
}
.soical-media{
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    text-align: center;
}
.fa{
    padding: 15px;
    margin: 15px;
    border-radius: 50%;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: #3B5998;
    color: white;
}
.fa-github {
    background: black;
    color: white;
}
.fa-facebook {
    background: #125688;
    color: white;
}
.fa-instagram {
    background: orangered;
    color: white;
}
button{
    width: 180px;
    height: 30px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
}
.btn{
    height: 100px;
    text-align: center;
}
a{
    text-decoration: none; 
}
p{
    font-family: 'Pacifico';
}
#Pht{
    border-radius: 10px;
    width:80%;
    margin:10px 0 0 10px;
}
@media only screen and (max-width: 600px) {
    .container{
        flex-direction: column;
    }
    #left{
        width: 80% ;
        float:left;
    } 
    #right{
        width: 100%;
        float: left;
    } 
}